<div class="container">
  <div class="row">
    <div class="cont">
      <h3>Skills</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis
        dignissimos porro illo itaque aut molestiae ut fugiat aliquam!
        Praesentium suscipit ipsa cupiditate voluptatibus non at ullam tempore
        earum sit quis?
      </p>
      <button class="button-success" (click)="btnclicked()">Download</button>
    </div>
    <div class="col-sm">
      <h5>UI/UX Design</h5>
      <h5>Responsive Design</h5>
      <h5>Web Design</h5>
    </div>

    <div class="col-sm">

      <app-skill *ngFor="let skill of skills" [skill]="skill.name" [value]="skill.score"></app-skill>

    </div>
  </div>
</div>