<div class="container">
  <div class="row">
    <div class="cont">
      <h3>Skills</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis dignissimos porro illo itaque aut molestiae
        ut fugiat aliquam! Praesentium suscipit ipsa cupiditate voluptatibus non at ullam tempore earum sit quis?</p>
        <button class="button-success" (click)="btnclicked()">Download</button>
      </div>
    <div class="col-sm">
      <h5>UI/UX Design</h5>
      <h5>Responsive Design</h5>
      <h5>Web Design</h5>
    </div>

    <div class="col-sm">
      <div>
        <h5>{{skill[0]}}</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>

      <div>
        <h5>{{skill[1]}}</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>

      <div>
        <h5>{{skill[2]}}</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>

  </div>
</div>